* {
  margin: 0;
  padding: 0;
}

.map-container {
  height: 800px;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
}

.map-ref {
  height: 100%;
}

body {
  overflow-x: hidden;
  width: 100%;
}
